head {
}
.auto-style47 {
            width: 830px;
            margin-left: 240px;
            text-align: left;
        }

        .auto-style48 {
            height: 600px;
        }

        .auto-style50 {
            width: 459px;
            height: 250px;
        }

        .auto-style51 {
            width: 830px;
            margin-left: 240px;
            text-align: left;
            height: 250px;
        }

        .auto-style52 {
            height: 250px;
        }

        .auto-style54 {
            width: 459px;
            height: 32px;
            text-align: center;
        }

        .auto-style55 {
            width: 830px;
            margin-left: 240px;
            text-align: left;
            height: 32px;
        }

        .auto-style56 {
            height: 32px;
        }
        .auto-style57 {
            width: 769px;
            height: 23px;
        }
        .auto-style58 {
            width: 459px;
            height: 23px;
        }
        .auto-style59 {
            width: 830px;
            margin-left: 240px;
            text-align: left;
            height: 23px;
        }
        .auto-style60 {
            height: 23px;
        }
#LabelName{
    margin-left:10px;
}
#CalendarFabio {
    margin-top:-100px;
}
.auto-style26 {
            width: 1040px;
            height: 175px;
        }

        .auto-style27 {
            height: 180px;
            width: 1049px;
            margin-bottom: 0px;
        }

        .auto-style28 {
            width: 204px;
            height: 110px;
        }

        .auto-style29 {
            width: 518px;
            margin-left: 80px;
            height: 110px;
        }

        .auto-style34 {
            width: 769px;
            z-index: -1;
            border-collapse: separate;
        }

        .auto-style37 {
            height: 110px;
            width: 170px;
        }

        .auto-style38 {
            width: 830px;
            margin-left: 240px;
            text-align: center;
        }

        .auto-style39 {
            width: 459px;
            z-index: 1;
        }

        .auto-style42 {
            width: 459px;
        }

        .auto-style43 {
            width: 769px;
        }

        .auto-style44 {
            width: 459px;
            text-align: center;
        }

        .auto-style46 {
            width: 830px;
            z-index: 1;
        }
#myMenu{
    margin-top :-390px;
}
#mySiteMapPath2 {
    margin-bottom :200px;
}
.auto-style21 {
    position: absolute;
    left: 650px;
    top: 195px;
    width: 810px;
    height: 712px;
    z-index: 1;
}

.auto-style23 {
    width: 156px;
    text-align: left;
    z-index: -1;
}

.auto-style2 {
    width: 156px;
}

.auto-style24 {
    position: absolute;
    top: 395px;
    left: 645px;
    z-index: 1;
}

.auto-style5 {
    width: 1040px;
    height: 91px;
}

.auto-style7 {
    width: 802px;
}

.auto-style11 {
    width: 156px;
    height: 21px;
}

.auto-style12 {
    width: 830px;
    height: 21px;
}

.auto-style13 {
    height: 21px;
}

.auto-style14 {
    width: 172px;
}

.auto-style15 {
    width: 802px;
    margin-left: 80px;
}

.auto-style17 {
    width: 830px;
}

.auto-style19 {
    height: 92px;
    width: 1049px;
    margin-bottom: 0px;
}

.auto-style20 {
    width: 129px;
    height: 56px;
    margin-left: 0px;
}

#MultiView1 {
}

body {
}
